div.header 
{
	text-align: center;
}

div.title
{
	padding-left: 30px;
}

div.value
{
	padding-left: 30px;
	text-justify: inter-word;
}

div.cell
{
	width: 500px;
	padding: 10px;
	border: 1px;
}
div.vl
{
	padding: 10px;
	border-left: 3px solid #000;
}